<div class="lf_area">
  <div>
    <div class="smt_hw">Machine Translation</div>
    <div class="p1-10">
      <a
        class="p1-8"
        name="translation_sen_id-1"
        onmousemove="alignWords(this,'translation_sen_id-1',1)"
        href="/dict/search?q=Returns&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5092.1"
        >Returns</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-2"
        onmousemove="alignWords(this,'translation_sen_id-2',1)"
        href="/dict/search?q=a&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5093.1"
        >a</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-3"
        onmousemove="alignWords(this,'translation_sen_id-3',1)"
        href="/dict/search?q=number&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5094.1"
        >number</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-4"
        onmousemove="alignWords(this,'translation_sen_id-4',1)"
        href="/dict/search?q=representing&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5095.1"
        >representing</a
      ><span> the </span
      ><a
        class="p1-8"
        name="translation_sen_id-5"
        onmousemove="alignWords(this,'translation_sen_id-5',1)"
        href="/dict/search?q=offset&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5096.1"
        >offset</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-6"
        onmousemove="alignWords(this,'translation_sen_id-6',1)"
        href="/dict/search?q=of&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5097.1"
        >of</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-7"
        onmousemove="alignWords(this,'translation_sen_id-7',1)"
        href="/dict/search?q=the&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5098.1"
        >the</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-10"
        onmousemove="alignWords(this,'translation_sen_id-10',1)"
        href="/dict/search?q=selection&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5099.1"
        >selection</a
      ><a
        class="p1-8"
        name="translation_sen_id-8"
        onmousemove="alignWords(this,'translation_sen_id-8',1)"
        href="/dict/search?q='s&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5100.1"
        >'s</a
      ><span> </span
      ><a
        class="p1-8"
        name="translation_sen_id-9"
        onmousemove="alignWords(this,'translation_sen_id-9',1)"
        href="/dict/search?q=anchor&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5101.1"
        >anchor</a
      >
    </div>
    <div class="p1-11">
      <a
        class="p1-9"
        name="translation_sen_id-1"
        onmousemove="alignWords(this,'translation_sen_id-1',1)"
        href="/dict/search?q=%E8%BF%94%E5%9B%9E&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5102.1"
        >返回</a
      ><a
        class="p1-9"
        name="translation_sen_id-2"
        onmousemove="alignWords(this,'translation_sen_id-2',1)"
        href="/dict/search?q=%E4%B8%80%E4%B8%AA&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5103.1"
        >一个</a
      ><a
        class="p1-9"
        name="translation_sen_id-3"
        onmousemove="alignWords(this,'translation_sen_id-3',1)"
        href="/dict/search?q=%E6%95%B0%E5%AD%97&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5104.1"
        >数字</a
      ><span>，</span
      ><a
        class="p1-9"
        name="translation_sen_id-4"
        onmousemove="alignWords(this,'translation_sen_id-4',1)"
        href="/dict/search?q=%E8%A1%A8%E7%A4%BA&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5105.1"
        >表示</a
      ><a
        class="p1-9"
        name="translation_sen_id-7"
        onmousemove="alignWords(this,'translation_sen_id-7',1)"
        href="/dict/search?q=%E8%AF%A5&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5106.1"
        >该</a
      ><a
        class="p1-9"
        name="translation_sen_id-10"
        onmousemove="alignWords(this,'translation_sen_id-10',1)"
        href="/dict/search?q=%E9%80%89%E6%8B%A9&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5107.1"
        >选择</a
      ><a
        class="p1-9"
        name="translation_sen_id-8"
        onmousemove="alignWords(this,'translation_sen_id-8',1)"
        href="/dict/search?q=%E7%9A%84&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5108.1"
        >的</a
      ><a
        class="p1-9"
        name="translation_sen_id-9"
        onmousemove="alignWords(this,'translation_sen_id-9',1)"
        href="/dict/search?q=%E9%94%9A%E7%82%B9&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5109.1"
        >锚点</a
      ><a
        class="p1-9"
        name="translation_sen_id-6"
        onmousemove="alignWords(this,'translation_sen_id-6',1)"
        href="/dict/search?q=%E7%9A%84&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5110.1"
        >的</a
      ><a
        class="p1-9"
        name="translation_sen_id-5"
        onmousemove="alignWords(this,'translation_sen_id-5',1)"
        href="/dict/search?q=%E5%81%8F%E7%A7%BB%E9%87%8F&amp;FORM=BDVSP6&amp;mkt=zh-cn"
        h="ID=Dictionary,5111.1"
        >偏移量</a
      >
    </div>
  </div>
  <div class="se_div"></div>
</div>
