<div class="qdef">
  <div class="hd_area">
    <div class="hd_div" id="headword">
      <h1><strong>fast</strong></h1>
    </div>
    <div class="hd_tf_lh">
      <div class="hd_p1_1" lang="en">
        <div class="hd_prUS">US&nbsp;[fæst]</div>
        <div class="hd_tf">
          <a
            class="bigaud"
            onmouseover="this.className='bigaud_f';javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/tom/1d/59/1D59B15BF2290840CF17B7C54C96908B.mp3','akicon.png',false,'dictionaryvoiceid')"
            onmouseout="this.className='bigaud'"
            title="Click to listen"
            onclick="javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/tom/1d/59/1D59B15BF2290840CF17B7C54C96908B.mp3','akicon.png',false,'dictionaryvoiceid')"
            href="javascript:void(0);"
            h="ID=Dictionary,5288.1"
          ></a>
        </div>
        <div class="hd_pr">UK&nbsp;[fɑːst]</div>
        <div class="hd_tf">
          <a
            class="bigaud"
            onmouseover="this.className='bigaud_f';javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/george/1d/59/1D59B15BF2290840CF17B7C54C96908B.mp3','akicon.png',false,'dictionaryvoiceid')"
            onmouseout="this.className='bigaud'"
            title="Click to listen"
            onclick="javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/george/1d/59/1D59B15BF2290840CF17B7C54C96908B.mp3','akicon.png',false,'dictionaryvoiceid')"
            href="javascript:void(0);"
            h="ID=Dictionary,5289.1"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <ul>
    <li>
      <span class="pos">adv.</span
      ><span class="def"><span>快速；迅速；不久；立即</span></span>
    </li>
    <li>
      <span class="pos">adj.</span
      ><span class="def"><span>快的；迅速的；敏捷的；迅速发生的</span></span>
    </li>
    <li>
      <span class="pos">v.</span><span class="def"><span>禁食</span></span>
    </li>
    <li>
      <span class="pos">n.</span
      ><span class="def"><span>禁食期；斋戒期</span></span>
    </li>
    <li>
      <span class="pos web">Web</span
      ><span class="def"><span>迅捷；快速的；速度与激情</span></span>
    </li>
  </ul>
</div>
