<div class="lf_area">
  <div class="in_tip">returns is return's Simple Present</div>
  <div class="qdef">
    <div class="hd_area">
      <div class="hd_div" id="headword">
        <h1><strong>return</strong></h1>
      </div>
      <div class="hd_tf_lh">
        <div class="hd_p1_1" lang="en">
          <div class="hd_prUS">US&nbsp;[rɪ'tɜrn]</div>
          <div class="hd_tf">
            <a
              class="bigaud"
              onmouseover="this.className='bigaud_f';javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/tom/08/07/0807F6A4005CC78F8401420DC992BA4F.mp3','akicon.png',false,'dictionaryvoiceid')"
              onmouseout="this.className='bigaud'"
              title="Click to listen"
              onclick="javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/tom/08/07/0807F6A4005CC78F8401420DC992BA4F.mp3','akicon.png',false,'dictionaryvoiceid')"
              href="javascript:void(0);"
              h="ID=Dictionary,5387.1"
            ></a>
          </div>
          <div class="hd_pr">UK&nbsp;[rɪ'tɜː(r)n]</div>
          <div class="hd_tf">
            <a
              class="bigaud"
              onmouseover="this.className='bigaud_f';javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/george/08/07/0807F6A4005CC78F8401420DC992BA4F.mp3','akicon.png',false,'dictionaryvoiceid')"
              onmouseout="this.className='bigaud'"
              title="Click to listen"
              onclick="javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/george/08/07/0807F6A4005CC78F8401420DC992BA4F.mp3','akicon.png',false,'dictionaryvoiceid')"
              href="javascript:void(0);"
              h="ID=Dictionary,5388.1"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <ul>
      <li>
        <span class="pos">v.</span
        ><span class="def"><span>返回；恢复；归还；报告</span></span>
      </li>
      <li>
        <span class="pos">n.</span
        ><span class="def"><span>回归；利润；报酬；申报</span></span>
      </li>
      <li>
        <span class="pos web">Web</span
        ><span class="def"><span>关于退货；返回值；收益</span></span>
      </li>
    </ul>
  </div>
</div>
