.__EXT_BT_ROOT__ {
  div,
  span,
  ul,
  li {
    all: unset;
  }

  div {
    display: block;
  }

  .container {
    border: 1px solid grey;
    position: fixed;
    z-index: 999999;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: skyblue;

    .content {
      .header {
        padding: 5px;
        .tip {
          font-size: 14px;
          background-color: #f9f5dd;
        }
        .word {
          font-size: 28px;
          font-weight: 500;
        }
      }

      ul.translation-list {
        // max-width: 250px;
        list-style-type: none;
        display: table;
        border-collapse: separate;
        border-spacing: 5px 10px;

        li {
          display: table-row;
          border-bottom: 30px solid transparent;

          > span {
            display: table-cell;
          }

          .property {
            font-weight: bold;
            font-size: 13px;
            text-align: center;
            vertical-align: middle;
            background-color: #aaa;
            color: #fff;
          }
          .web {
            background-color: #000;
          }

          .translation {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }

    .no-content {
      padding: 3px;
      font-size: 14px;
      font-style: italic;
      background-color: yellow;
    }
  }

  .loading {
    position: fixed;
    z-index: 999999;
  }
}
