#__EXT_BT_ROOT__ {
  div,
  span,
  ul,
  li {
    all: unset;
  }

  div {
    display: block;
  }

  .container {
    z-index: 999999999;
    border: 1px solid grey;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: skyblue;

    .content {
      .header {
        padding: 5px;
        .detailLink {
          font-size: 12px;
          float: right;
          line-height: 20px;
          margin-left: 6px;

          a {
            text-decoration: none;
            color: #777777;
          }
        }

        .tip {
          font-size: 14px;
          background-color: #f9f5dd;
        }
        .word {
          font-size: 28px;
          font-weight: 500;
        }

        .pron {
          color: #777777;
          margin-top: 5px;
          .pr {
            display: inline-block;
            .volume {
              margin-left: 4px;
              cursor: pointer;
              :hover {
                fill: yellow;
              }
            }

            .pr-en {
              margin-left: 10px;
            }
          }
        }
      }

      ul.translation-list {
        max-width: 300px;
        list-style-type: none;
        display: table;
        border-collapse: separate;
        border-spacing: 5px 10px;

        li {
          display: table-row;
          line-height: 15px !important;

          > span {
            display: table-cell;
          }

          .property {
            font-weight: bold;
            font-size: 13px;
            text-align: center;
            vertical-align: middle;
            background-color: #aaa;
            color: #fff;
          }
          .web {
            background-color: #000;
          }

          .translation {
            font-size: 14px;
            font-weight: bold;

            a {
              color: blue;
              text-decoration-line: underline;
            }
          }
        }
      }
    }

    .no-content {
      padding: 3px;
      font-size: 14px;
      font-style: italic;
      background-color: yellow;
    }

    .multi-word-translation {
      font-size: 14px;
      padding: 3px;
    }
  }

  .loading {
    position: fixed;
    z-index: 999999999;

    img {
      height: 30px !important;
    }
  }
}
