.main {
  width: 250px;
  background-color: skyblue;
  padding: 10px;
  margin: auto;
}
.main .container .header {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.main .container .body {
  font-size: 13px;
}
.main .container .body input {
  vertical-align: middle;
}
.main .container .body input[type=checkbox] {
  transform: scale(1.2);
}
.main .container .body label[for] {
  cursor: pointer;
}
.main .container .body .extOptions ul.optionList li:not(:first-child) {
  margin-top: 10px;
}
.main .container .body .close {
  text-align: center;
}
.main .container .footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.main .container .footer .about img {
  vertical-align: middle;
  transform: translateY(-2px);
}
